body {
    background-image: url("images/SP_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #666;
    /* The order
    background-image: url(photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #ccc;
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: rgba(230, 230, 250, 0.5);
}

h1 {
    text-align: center;
}

h2 {
    background-color: rgba(127, 255, 212, 0.5);
    border: 10px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}


/* nav settings */

div ul {
    list-style-type: none;
    padding: 2px;
    overflow: hidden;
    background-color: #333333;
}

div li {
    float: left;
    margin: 2px;
    display: block;
}

div li a:link,
div li a:visited {
    background-color: #555555;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

div li a:hover {
    background-color: #111111;
}


/* links settings */

a:link,
a:visited {
    color: white;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: white;
    color: #999;
}


/* class settings */

p.colors {
    background-color: thistle;
    padding: 5px;
}

div.colors ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #ddd;
}

div.colors li {
    display: inline-block;
}

div.table {
    width: 100%;
    display: table;
}

div.table div {
    display: table-cell;
}

div.borders p {
    padding: 5px;
    margin: 0 10px 5px 10px;
    /* top right bottom left*/
    text-align: center;
}

div.pos {
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
    max-width: 400px;
    padding: 20px;
}